body {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    line-height: 1.5;
    font-weight: 500;
    color: #000000;
    margin: 0;
}

.header {
    padding: 1vw;
    background-color: #ffffff;
    align-items: center;
    border-bottom: solid 1px #eeeeee;
}

.logo{
    font-size: 3vw;
    font-weight: 900;
    text-align: center;
    color: #A4ABCE;
}
.logo a{
    color: #A4ABCE;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
}
.logo a:hover {
    background-color: #eeeeee;
    color: #A4ABCE;
}

.menuBar {
    padding: 0.5vw;
    background-color: #ffffff;
    align-items: center;
    border-bottom: solid 1px #eeeeee;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.menuitem1{
    font-size: 1.5vw;
    font-weight: 200;
    color: #000000;
}
.menuitem1 a{
    color: #000000;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
}
.menuitem1 a:hover {
    color: #A4ABCE;
}
.menuitem2{
    font-size: 1.5vw;
    font-weight: 200;
    color: #000000;
}
.menuitem2 a{
    color: #000000;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
}
.menuitem2 a:hover {
    color: #A4ABCE;
}
.educationBox {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 20vw;
    background-color: #A4ABCE;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wordContainer{
    padding-left: 5%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
h1.word {
    font-size: 5vw;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
}
h1.pronunciation {
    font-size: 3.75vw;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
}
h1.partOfSpeech {
    font-size: 3.75vw;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
    font-style: italic;
    margin: 0;
}
.dividerContainer{
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}
.divider{
    background-color: #FFFFFF;
    width: 1vw;
    height: 100%;
}
.defContainer {
    padding-left: 0%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
p.definition {
    font-size: 2.2vw;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
}
.articles{
    padding-top: 5%;
    padding-bottom: 10%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.article1Container{
    font-size: 2vw;
    font-weight: 900;
    width: 40vw;
    height: 40vw;
    box-shadow: 0px 0px 20px #888888;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.article1Container a{
    color: #000000;
    text-decoration: none;

}

.article1Container img{
    padding-top: 1%;
    width: 36vw;
    height: 27vw;

}

.article2Container{
    font-size: 2vw;
    font-weight: 900;
    width: 40vw;
    height: 40vw;
    box-shadow: 0px 0px 20px #888888;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.article2Container a{
    color: #000000;
    text-decoration: none;
}
.article2Container img{
    padding-top: 1%;
    width: 36vw;
    height: 27vw;

}

.contentContainer{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}
.contentContainer img{
    width: 64vw;
    height: 48vw;
}

h1.contentTitle {
    font-weight: 900;
    font-size: 4vw;
    text-align: center;
}
p.contentText {
    width: 50vw;
    font-weight: 300;
    color: #000000;
    font-size: 1.5vw;
    padding-bottom: 2%;
}
.contentContainer a{
    width: 50vw;
    font-weight: 300;
    color: #000000;
    font-size: 1.5vw;
}
